
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* ================================================================ */
html{
        font-family: 'Roboto', sans-serif;
        text-rendering: optimizeLegibility;

}
header{
    background-image:linear-gradient(rgba(212, 201, 201, 0.7),rgba(10, 10, 10, 0.7)), url("http://photos.cinematreasures.org/production/photos/23902/1314580065/large.jpg?1314580065") ;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;

}
.logo{
    width: 200px;
    padding-top: 0.5cm ;
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::::::::::::::::::::::::::::::::Tìm hiểu::::::::::::::::::::::::::::::::::::::::: */

}
.timhieu{
    float: right;
    margin: 3cm 2cm ;
    font-size: 150%;
    font-weight: 800 ;
    
    
}
.timhieu a {
    margin-right: 1cm ;
    text-decoration: none ;
    color: rgb(10, 10, 10);
    transition: border-bottom 0.2s;
    padding-bottom: 0.1cm ;
}
.timhieu li{
    display: inline-block;
}
.timhieu li :hover,
.timhieu li :active{
    border-bottom: 3px solid rgb(10, 10, 10);
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::::::::::::::::::::::::::::::::Heading_bottom::::::::::::::::::::::::::::::::::::::::: */
h1{
    font-size: 400% ;
    color: rgb(10, 10, 10);
    padding-left: 1cm ;
}
.button{
    margin-top : 2cm  ;
    list-style: none ;

}
.button a{
    margin: 1cm 1cm ;
}
.tellmemore  {
    text-decoration: none ;
    background-color: rgb(10, 10, 10);
    color: white;
    font-size: 150%;
    padding: 0.5cm 0.5cm ;
    border-radius: 30px ;
}
.joinus{
    text-decoration: none ;
    background-color: rgb(10, 10, 10);
    color: white;
    font-size: 150%;
    padding: 0.5cm 0.5cm ;
    border-radius: 30px ;
}

.button :hover{
    background-color: white;
    color: black;    
    text-decoration: none ;
}
/* _____________________________________________________________________________________________________ */
/* ___________________________________________About section_____________________________________________________________ */
h2{
    text-align: center;
    font-size: 250%;
}
h2 ::after
{
    content: " ";
    width: 150px;
    background-color: black;
    display: block;
    height: 3px ;
    margin: 4px auto;
}

